app = "payment-app-backend"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "3000"
  DB_PORT = "5432"
  DB_USERNAME = "postgres"
  DB_DATABASE = "payment_app"
  DB_SYNCHRONIZE = "false"
  DB_LOGGING = "false"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[deploy]
  release_command = "npm run migration:run && npm run seed"
