# fly.toml app configuration file generated for payment-app-backend on 2026-01-30T18:08:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'payment-app-backend'
primary_region = 'ams'

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "8080"
  DB_PORT = "5432"
  DB_USERNAME = "postgres"
  DB_DATABASE = "payment_app"
  DB_SYNCHRONIZE = "false"
  DB_LOGGING = "false"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
